
<div id="TenderDetailSingleModal" class="modal fade" data-backdrop="static" style="z-index: 99999999 !important;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Ürün Detay Ekranı</h6>
            </div>
            <div class="modal-body">
                <div class="panel-body" style="padding: 0px !important">
                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            <li id="li_rent" class="active">
                                <a id="priceInsert_toggle" href="#TenderPrice" data-toggle="tab" style="color: green; font-family: initial; font-size: 14px;"><i class="icon-unfold position-left wysiwyg-color-green"></i>Fiyat Analizi</a>
                            </li>
                            <li id="li_fix">
                                <a id="tenderDetailPriceHistory_toggle" href="#TenderDetailPriceHistory" data-toggle="tab" style="color: green; font-family: initial; font-size: 14px;"><i class="icon-portfolio position-left wysiwyg-color-green"></i>Geçmiş İşlemler</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding: 20px;">
                            <input type="text" id="tenderId" table-param="Id" hidden />
                            <div class="tab-pane active" id="TenderPrice">
                                @await Html.PartialAsync("~/Views/Shared/PartialViews/Tender/TenderUnit/_PriceInsert.cshtml")
                            </div>
                            <div class="tab-pane" id="TenderDetailPriceHistory">
                                @await Html.PartialAsync("~/Views/Shared/PartialViews/Tender/TenderUnit/_TenderDetailPriceHistory.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>