<script>$('#broadCrumbDiv').text('Dashboard')</script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container" style="min-height: 280px">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Error title -->
            <div class="text-center content-group">
                <h1 class="error-title">401</h1>
                <h5>Üzgünüz, bu sayfaya yetkiniz bulunmamaktadır.</h5>
                <h5>Lütfen yetkiliyle iletişime geçiniz.</h5>
            </div>
            <!-- /error title -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>