@using Microsoft.AspNetCore.Http
@using CoreArchV2.Core.Enum
<script>$('#broadCrumbDiv').text('Yönetici Raporları / Araç Yakıt Raporu')</script>
<script src="~/admin/amcharts4/core.js"></script>
<script src="~/admin/amcharts4/charts.js"></script>
<script src="~/admin/amcharts4/themes/animated.js"></script>
@inject IHttpContextAccessor HttpContextAccessor
@{
    var unitId = HttpContextAccessor.HttpContext.Session.GetInt32("UnitId");
    var parentUnitId = HttpContextAccessor.HttpContext.Session.GetInt32("ParentUnitId");
    var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("IsAdmin");
}

<!-- Header Dashboard -->
<div class="row" style="margin: 4px -20px 0 -29px;">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body bg-orange-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin" id="totalLastMonth" style="font-size: 14px;">---</h3>
                    <span class="text-size-mini" id="head_4">Toplam Tutar</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-gas icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body bg-slate-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin text-size-mini" id="mostProjectLastMonth" style="font-size: 11px;">---</h3>
                    <span class="text-size-mini" id="head_2">En Fazla Proje</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-film2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body bg-pink-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin" id="mostPlate" style="font-size: 13px;">---</h3>
                    <span class="text-size-mini" id="head_1">Toplam Km/Lt</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-car icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="panel panel-body bg-violet-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin" id="vehicleCount" style="font-size: 15px;">---</h3>
                    <span class="text-size-mini" id="head_3">Toplam/Yakıt Alan Araç</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-car2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Header Dashboard -->
<!-- Content Dashboard-->
<div class="breadcrumb-line breadcrumb-line-component bg-teal-400" style="margin: 0px -11px 0px -19px; color: #fff;">
    <ul class="breadcrumb">
        <li id="contentHeadDiv">Araç Yakıt Raporu</li>
    </ul>
    <ul class="breadcrumb-elements">
        @{
            if (Convert.ToBoolean(@isAdmin))
            {
                <li>
                    <a onclick="fuelCompareDebit()"><i class="icon-git-compare position-left"></i>Genel Karşılaştırma</a>
                </li>
            }
        }
        <li>
            <a onclick="exportExcel()"><i class="icon-file-excel position-left"></i> Excel</a>
        </li>
        <li class="dropdown">
            <a href="#" id="btnSearch" class="dropdown-toggle" data-toggle="dropdown" onclick="funcSearchForm()">
                <i class="icon-gear position-left"></i>
                Filtreleme Seçenekleri
                <span class="caret"></span>
            </a>
            <ul id="FormSearchTable" class="dropdown-menu dropdown-menu-right" style="width: 326px;">
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="fuelPageParentUnitId"
                                tabindex="1"
                                table-param="ParentUnitId"
                                onchange="changeParentUnitId(true)"
                                class="select-search"
                                table-id="comboBox-fuelPageParentUnitId"
                                table-model-url="/Combo/GetUnitJustParentCmbx"
                                table-tool-type="comboBox"
                                data-option-label="Müdürlük Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="fuelPageUnitId"
                                tabindex="2"
                                table-param="UnitId"
                                @*onchange="onchangeUnitId()"*@
                                class="select-search"
                                table-id="comboBox-fuelPageUnitId"
                                table-model-url=""
                                table-tool-type="comboBox"
                                data-option-label="Proje Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="EnginePowerId_Fix"
                                class="select-search"
                                table-param="EnginePowerId"
                                table-id="comboBox-EnginePowerId"
                                table-model-url="/Combo/GetByLookUpListTypeId?typeId=@((int) TypeList.EnginePowerType)"
                                table-tool-type="comboBox"
                                tabindex="9"
                                table-description="Motor Silindir Hacmi"
                                data-option-label="Motor Silindir Hacmi Seçiniz">
                        </select>
                    </div>
                </li>

                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="FuelStationId_Fix"
                                class="select-search"
                                tabindex="2"
                                table-param="FuelStationId"
                                table-id="comboBox-FuelStationId_Fix"
                                table-model-url="/Combo/GetByLookUpListTypeId?typeId=@((int) TypeList.FuelStationIdType)"
                                table-tool-type="comboBox"
                                table-description="İstasyon"
                                data-option-label="İstasyon Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="select-Plate"
                                tabindex="3"
                                table-param="VehicleId"
                                class="select2-container select2-selection--single">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <label>Baş.Tarihi</label>
                        <input id="StartDate" table-param="StartDate" tabindex="4" class="form-control" type="date">
                    </div>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <label>Bit.Tarihi</label>
                        <input id="EndDate" table-param="EndDate" tabindex="5" class="form-control" type="date">
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <button type="button" style="width: 100%;" tabindex="7" class="btn bg-danger-800 btn-xs" onclick="funcClearFilterTable('FormSearchTable')"><i class="icon-trash"></i> Temizle</button>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin: 8px 0 8px 0;">
                        <button type="button" style="float: left; width: 100%;" tabindex="6" class="btn bg-teal-300 btn-xs" onclick="funcFilterTable()"><i class="icon-search4"></i> Filtrele</button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart3" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart6" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="engineButtons" class="btn-group btn-group-justified" style="margin-bottom: 5px;"></div>
            <div class="panel panel-flat">
                <div id="chart4" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="engineButtons2" class="btn-group btn-group-justified" style="margin-bottom: 5px;"></div>
            <div class="panel panel-flat">
                <div id="chart7" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-6">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart1" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart2" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/VehicleFuel/_VehicleDebitAndMonthlyFuelCompareModal.cshtml")
<!-- Content Dashboard-->
@* <script src="~/admin/select2/select2.min.js"></script> *@
<script src="~/js/jsamchart/vehicleFuel.js"></script>
<script src="~/js/jsamchart/chartutility.js"></script>
<script type="text/javascript">
    $('#select-Plate').select2({
        placeholder: 'Plaka Giriniz',
        minimumInputLength: 3,
        language: "tr",
        ajax: {
            url: '/Combo/GetVehicleCmbx',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
</script>

<script>
    $(document).ready(function () {
        setStartEndDate();
    });

    function setStartEndDate() {
        $(".sidebar-control").click();
        var end = moment().add(1, 'days');
        var start = moment().subtract(2, 'months');//.startOf('year');
        $('#StartDate').val(start.format("YYYY-MM-DD"));
        $('#EndDate').val(end.format("YYYY-MM-DD"));
        $('#contentHeadDiv').html("Araç Yakıt Raporu - (" + start.format("DD-MM-YYYY") + "/" + end.format("DD-MM-YYYY") + ")");
        if (@isAdmin != true) {
            $('#fuelPageParentUnitId').val(@parentUnitId).trigger("change");
            if (@unitId > 0) //Sadece proje yetkisi varsa sadece onu yükler
                setTimeout(function () { setUnit(@unitId, "fuelPageUnitId"); }, 500);
            else
                loadUnit(@parentUnitId);
        }
        loadCharts({ StartDate: start.format("YYYY-MM-DD"), EndDate: end.format("YYYY-MM-DD") });
        setTimeout(function () {
            var message = "Otomatik seçilen tarih aralığı </br><b style='color:black;'>" + start.format("ll") + " / " + end.format("ll") + "</b>";
            ShowMessage("warning", "Bilgi", message);
        }, 2000);
    }

    function changeParentUnitId(isFilter = false) {
        var parentUnitId = $('#fuelPageParentUnitId').val();
        var model = {
            ParentUnitId: parentUnitId
        };
        loadUnit(parentUnitId);
        if (!isFilter)
            loadCharts(model);
    }

    function loadUnit(parentUnitId) {
        sendAjxForm({ parentId: parentUnitId },
            "/Combo/GetUnitChildCmbx",
            function (e) {
                funcCustomComboBox(e, "fuelPageUnitId", "Proje Seçiniz");
            }, "GET");
    }

    function exportExcel() {
        $('#loadingEffect').css("display", "flex");
        var model = FormGetAllValue("#FormSearchTable [table-param]");
        if (model != null)
            window.location = insertParam('/Export/FuelInfo', model);
        setTimeout(function () {
            $('#loadingEffect').css("display", "none");
        }, 3000);
    }

    function loadCharts(model) {
        chart3_vehicleFuel_Load(model);
        chart4_vehicleFuel_Load(model);
        headerInfo(model);
        chart2_vehicleFuel_Load(model);
        chart1_vehicleFuel_Load(model);
        //chart6_vehicleFuel_Load(model);
        //chart5_vehicleFuel_Load(model);
    }

    //Aylık yakıt
    function chart1_vehicleFuel_Load(model) {
        sendAjxForm(model,
            "/Report/MontlyFuelTotalAmount",
            function (data) {
                chart1_vehicleFuel(data);
            }, "GET");
    }

    //Müdürlük bazında yakıt
    function chart2_vehicleFuel_Load(model) {
        sendAjxForm(model,
            "/Report/ProjectFuelTotalAmount",
            function (data) {
                if (data.length == 1 && data[0].Amount == 0) {
                    chart2_vehicleFuel(null);
                    $('#mostProjectLastMonth').text("0.00 ₺");
                    ShowMessage("info", "Bilgi", "Yakıt geçmişi bulunamadı")
                } else {
                    chart2_vehicleFuel(data);
                    $('#mostProjectLastMonth').text(data[data.length - 1].UnitName + "-" + formatMoney(data[data.length - 1].Amount, 0) + " ₺"); //en fazla yakı proje
                }
            }, "GET");
    }

    //Plaka bazlı yakıt tutar
    function chart3_vehicleFuel_Load(model) {
        sendAjxForm(model,
            "/Report/VehicleFuelTotalAmount",
            function (data) {
                if (data.length > 0) {
                    chart3_vehicleFuel(data, @isAdmin);
                    chart6_vehicleFuel(data);
                    setEnginePowerButton(data[0].EnginePowlist);
                } else
                    chart3_vehicleFuel(null)
            }, "GET");
    }

    //Plaka bazlı km
    function chart4_vehicleFuel_Load(model, isAllVehicle = true) {
        sendAjxForm(model,
            "/Report/VehicleFuelTotalKmSpend",
            function (data) {
                if (data.length > 0) {
                    chart4_vehicleFuel(data, isAllVehicle);
                    chart7_vehicleFuel(data, isAllVehicle);
                }
                else {
                    chart4_vehicleFuel(null);
                    chart7_vehicleFuel(null);
                }
            }, "GET");
    }

    //Tedarikçi bazlı yakıt
    function chart5_vehicleFuel_Load(model) {
        sendAjxForm(model,
            "/Report/VehicleFuelTotalSupplierAmount",
            function (data) {
                if (data.length > 0)
                    chart5_vehicleFuel(data);
                else
                    chart5_vehicleFuel(null);
            }, "GET");
    }

    //Sayfa başlık raporu
    function headerInfo(model) {
        sendAjxForm(model,
            "/Report/HeaderInfoFuel",
            function (data) {
                //if (data.MostPlateAmount.Plate != "")
                //    $('#mostPlate').text(data.MostPlateAmount.Plate + "-" + formatMoney(data.MostPlateAmount.TotalAmount, 2) + " ₺"); //en fazla yakan plaka
                //else
                //    $('#mostPlate').text("0.00 ₺"); //en fazla yakan plaka
                //if (data.TotalKm > 0)
                    $('#mostPlate').text(formatMoney(data.TotalKm, 0) + " Km/" + formatMoney(data.TotalLiter, 0) + " Lt"); //Toplam km
                //else
                //    $('#mostPlate').text("0.00 Km/0.00 Lt");


                $('#vehicleCount').text(data.DebitVehicleCount + "/" + data.PlateCount + " Araç"); //araç sayısı
                $('#totalLastMonth').text(formatMoney(data.TotalAmount, 0) + " ₺" + "/" + formatMoney(data.DiscountTotalAmount, 0) + " ₺"); //toplam tutar

                var parentUnitId = $('#fuelPageParentUnitId').val(); //tümü listelenmeli ki karşılaştırma yapabilsin
                if (@isAdmin && parentUnitId == '')
                    $('#head_4').html("Toplam/İskontolu Tutar-" + "<i style='color:black;'>(Fark: " + data.DifferenceAmount + ")</i>");
                else
                    $('#head_4').html("Toplam/İskontolu Tutar");

                //$('#head_1').text("En fazla plaka" + " (" + data.DateMonth + ")");
                //$('#head_2').text("En fazla proje" + " (" + data.DateMonth + ")");
                //$('#head_3').text("Araç Sayısı" + " (" + data.DateMonth + ")");
            }, "GET");
    }

    function setEnginePowerButton(list) {
        $('#engineButtons a').remove();
        $('#engineButtons2 a').remove();
        if (list.length > 0) {
            var html = '<a id="engine_0" onclick="changeEnginePower(0)" class="btn bg-warning-300">Tüm Araçlar</a>';
            for (var i = 0; i < list.length; i++)
                html += '<a id="engine_' + list[i].EnginePowerId + '" onclick="changeEnginePower(' + list[i].EnginePowerId + ')" class="btn bg-warning-300">' + list[i].EnginePowerName + '</a>';

            $('#engineButtons').append(html);
            $('#engineButtons2').append(html);
        }
    }

    function changeEnginePower(enginePowerId) {
        var model = FormGetAllValue("#FormSearchTable [table-param]");
        var model2 = {
            EnginePowerId: enginePowerId,
            IsAverageKmAmount: true //Seçilen motor aralığındaki ortalama yakıt tutarı getir
        }
        var mergeObject = $.extend(model, model2);
        chart4_vehicleFuel_Load(mergeObject, (enginePowerId == 0 ? true : false));
        //chart7_vehicleFuel_Load(mergeObject, (enginePowerId == 0 ? true : false));
        $("#engineButtons a").removeClass("bg-slate-300");
        $("#engineButtons2 a").removeClass("bg-slate-300");
        $('#engine_' + enginePowerId).addClass("bg-slate-300");
    }

    //------------------------------------- Static Area Start ---------------------------------------//
    function funcFilterTable(incomingUrl) {
        var model = FormGetAllValue("#FormSearchTable [table-param]");
        loadCharts(model);

        $('#contentHeadDiv').html("Araç Yakıt Raporu - (" + moment(model.StartDate).format("DD-MM-YYYY") + "/" + moment(model.EndDate).format("DD-MM-YYYY") + ")");
        IsSearchOpen = false;
        $('#FormSearchTable').hide();
    }

    function funcClearFilterTable() {
        FormAllInputsClear('#FormSearchTable [table-param]');
        setStartEndDate();
        ShowMessage("success", "Bilgi", "Tüm parametreler temizlendi.");
    }
                //------------------------------------- Static Area End ---------------------------------------//
</script>
