@using Microsoft.AspNetCore.Http
@using CoreArchV2.Core.Enum
<script>$('#broadCrumbDiv').text('Yönetici Raporları / Araç Kiralama Raporu')</script>
<script src="~/admin/amcharts4/core.js"></script>
<script src="~/admin/amcharts4/charts.js"></script>
<script src="~/admin/amcharts4/themes/animated.js"></script>
@inject IHttpContextAccessor HttpContextAccessor
@{
    var unitId = HttpContextAccessor.HttpContext.Session.GetInt32("UnitId");
    var parentUnitId = HttpContextAccessor.HttpContext.Session.GetInt32("ParentUnitId");
    var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("IsAdmin");
}

<!-- Header Dashboard -->
<div class="row" style="margin: 4px -20px 0 -29px;">
    @* <div class="col-sm-6 col-md-3">
    <div class="panel panel-body bg-orange-300 has-bg-image">
    <div class="media no-margin">
    <div class="media-body">
    <h3 class="no-margin" id="totalLastMonth" style="font-size: 14px;">---</h3>
    <span class="text-size-mini" id="head_4">Toplam Tutar</span>
    </div>
    <div class="media-right media-middle">
    <i style="font-size: 48px;" class="fa fa-try icon-3x opacity-75"></i>
    </div>
    </div>
    </div>
    </div>*@

    <div class="col-sm-6 col-md-6">
        <div class="panel panel-body bg-slate-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin text-size-mini" id="mostProject" style="font-size: 11px;">---</h3>
                    <span class="text-size-mini" id="head_2">En Fazla Proje</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-film2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>

    @*<div class="col-sm-6 col-md-3">
    <div class="panel panel-body bg-pink-300 has-bg-image">
    <div class="media no-margin">
    <div class="media-body">
    <h3 class="no-margin" id="mostPlate" style="font-size: 13px;">---</h3>
    <span class="text-size-mini" id="head_1">En Fazla Plaka</span>
    </div>
    <div class="media-right media-middle">
    <i class="icon-car icon-3x opacity-75"></i>
    </div>
    </div>
    </div>
    </div>*@

    <div class="col-sm-6 col-md-6">
        <div class="panel panel-body bg-violet-300 has-bg-image">
            <div class="media no-margin">
                <div class="media-body">
                    <h3 class="no-margin" id="vehicleCount" style="font-size: 15px;">---</h3>
                    <span class="text-size-mini" id="head_3">Araç Sayısı</span>
                </div>
                <div class="media-right media-middle">
                    <i class="icon-car2 icon-3x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Header Dashboard -->
<!-- Content Dashboard-->
<div class="breadcrumb-line breadcrumb-line-component bg-teal-400" style="margin: 0px -11px 0px -19px; color: #fff;">
    <ul class="breadcrumb">
        <li id="contentHeadDiv">Araç Kiralama Raporu</li>
    </ul>
    <ul class="breadcrumb-elements">
        <li>
            <a onclick="exportExcel()"><i class="icon-file-excel position-left"></i> Excel</a>
        </li>
        <li class="dropdown">
            <a href="#" id="btnSearch" class="dropdown-toggle" data-toggle="dropdown" onclick="funcSearchForm()">
                <i class="icon-gear position-left"></i>
                Filtreleme Seçenekleri
                <span class="caret"></span>
            </a>
            <ul id="FormSearchTable" class="dropdown-menu dropdown-menu-right" style="width: 326px;">
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="vehicleCostParentUnitId"
                                tabindex="1"
                                table-param="ParentUnitId"
                                onchange="changeParentUnitId(true)"
                                class="select-search"
                                table-id="comboBox-vehicleCostParentUnitId"
                                table-model-url="/Combo/GetUnitJustParentCmbx"
                                table-tool-type="comboBox"
                                data-option-label="Müdürlük Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="vehicleCostPageUnitId"
                                tabindex="2"
                                table-param="UnitId"
                        @*onchange="onchangeUnitId()"*@
                                class="select-search"
                                table-id="comboBox-vehicleCostPageUnitId"
                                table-model-url=""
                                table-tool-type="comboBox"
                                data-option-label="Proje Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="RentTypeIdSearch"
                                class="select-search"
                                table-param="RentTypeId"
                                table-id="comboBox-RentTypeIdSearch"
                                table-model-url="/Combo/GetByLookUpListTypeId?typeId=@((int)TypeList.VehicleRentType)"
                                table-tool-type="comboBox"
                                tabindex="3"
                                data-option-label="Kiralama Türü Seçiniz">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <select id="select-Plate"
                                tabindex="4"
                                table-param="VehicleId"
                                class="select2-container select2-selection--single">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <label>Baş.Tarihi</label>
                        <input id="StartDate" table-param="StartDate" tabindex="5" class="form-control" type="date">
                    </div>
                    <div class="col-md-6" style="margin-top: 8px;">
                        <label>Bit.Tarihi</label>
                        <input id="EndDate" table-param="EndDate" tabindex="6" class="form-control" type="date">
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin-top: 8px;">
                        <button type="button" style="width: 100%;" tabindex="7" class="btn bg-danger-800 btn-xs" onclick="funcClearFilterTable('FormSearchTable')"><i class="icon-trash"></i> Temizle</button>
                    </div>
                </li>
                <li>
                    <div class="col-md-12" style="margin: 8px 0 8px 0;">
                        <button type="button" style="float: left; width: 100%;" tabindex="6" class="btn bg-teal-300 btn-xs" onclick="funcFilterTable()"><i class="icon-search4"></i> Filtrele</button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart1" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart3" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart2" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin: 0px -20px 0 -29px;">
    <div class="col-md-6">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart5" style="height: 450px; width: 100%;padding: 60px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive" style="margin-top: 5px;">
            <div class="panel panel-flat">
                <div id="chart4" style="height: 450px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<!-- Content Dashboard-->
@* <script src="~/admin/select2/select2.min.js"></script> *@
<script src="~/js/jsamchart/vehicleCost.js"></script>
<script src="~/js/jsamchart/chartutility.js"></script>
<script type="text/javascript">
    $('#select-Plate').select2({
        placeholder: 'Plaka Giriniz',
        minimumInputLength: 3,
        language: "tr",
        ajax: {
            url: '/Combo/GetVehicleCmbx',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        }
    });
</script>

<script>
    $(document).ready(function () {
        setStartEndDate();
    });

    function setStartEndDate() {
        $(".sidebar-control").click();
        var start = moment().startOf('month');
        var end = moment();
        $('#StartDate').val(start.format("YYYY-MM-DD"));
        $('#EndDate').val(end.format("YYYY-MM-DD"));
        $('#contentHeadDiv').html("Araç Kiralama Raporu - (" + start.format("DD-MM-YYYY") + "/" + end.format("DD-MM-YYYY") + ")");
        if (@isAdmin != true) {
            $('#vehicleCostParentUnitId').val(@parentUnitId).trigger("change");
            if (@unitId > 0) //Sadece proje yetkisi varsa sadece onu yükler
                setTimeout(function () { setUnit(@unitId, "vehicleCostPageUnitId"); }, 500);
            else
                loadUnit(@parentUnitId);
        }
        loadCharts({ StartDate: start.format("YYYY-MM-DD"), EndDate: end.format("YYYY-MM-DD") });
        setTimeout(function () {
            var message = "Otomatik seçilen tarih aralığı </br><b style='color:black;'>" + start.format("ll") + " / " + end.format("ll") + "</b>";
            ShowMessage("warning", "Bilgi", message);
        }, 2000);
    }

    function changeParentUnitId(isFilter = false) {
        var parentUnitId = $('#vehicleCostParentUnitId').val();
        var model = {
            ParentUnitId: parentUnitId
        };
        loadUnit(parentUnitId);
        if (!isFilter)
            loadCharts(model);
    }

    function loadUnit(parentUnitId) {
        sendAjxForm({ parentId: parentUnitId },
            "/Combo/GetUnitChildCmbx",
            function (e) {
                funcCustomComboBox(e, "vehicleCostPageUnitId", "Proje Seçiniz");
            }, "GET");
    }

    function loadCharts(model) {
        sendAjxForm(model, "/Report/HeaderInfoVehicleCost",
            function (data) {
                headerInfo(data.HeaderInfoVehicleCost);
                chart1_vehicleCost(data.VehicleCostTotalAmount.ChartPlate);//Plaka
                chart2_vehicleCost(data.VehicleCostTotalAmount.ChartProject);//Müdürlük
                chart3_vehicleCost(data.VehicleCostTotalAmountDetail);//Plaka Detay
                chart4_vehicleCost(data.VehicleCostTotalAmount.ChartFirmName);//Firma
                chart5_vehicleCost(data.VehicleCostTotalAmount.ChartRentTypeName);//Firma
            }, "GET");
    }

    //Sayfa başlık raporu
    function headerInfo(data) {
        if (data.MostPlateAmount.Plate != "") {
            $('#mostPlate').text(data.MostPlateAmount.Plate + "-" + formatMoney(data.MostPlateAmount.TotalAmount, 2) + " ₺"); //en fazla plaka
            $('#mostProject').text(data.MostProjectAmount.UnitName + "-" + formatMoney(data.MostProjectAmount.TotalAmount, 2) + " ₺"); //en fazla Proje
        }
        else {
            $('#mostPlate').text("0.00 ₺"); //en fazla plaka
            $('#mostProject').text("0.00 ₺"); //en fazla plaka
        }

        $('#vehicleCount').text(data.PlateCount); //araç sayısı
        $('#totalLastMonth').text(formatMoney(data.TotalAmount, 2) + " ₺"); //toplam tutar
    }

    function exportExcel() {
        $('#loadingEffect').css("display", "flex");
        var model = FormGetAllValue("#FormSearchTable [table-param]");
        if (model != null)
            window.location = insertParam('/Export/VehicleCostInfo', model);

        setTimeout(function () {
            $('#loadingEffect').css("display", "none");
        }, 3000);
    }


    //------------------------------------- Static Area Start ---------------------------------------//
    function funcFilterTable(incomingUrl) {
        var model = FormGetAllValue("#FormSearchTable [table-param]");
        loadCharts(model);

        $('#contentHeadDiv').html("Araç Kiralama Raporu - (" + moment(model.StartDate).format("DD-MM-YYYY") + "/" + moment(model.EndDate).format("DD-MM-YYYY") + ")");
        IsSearchOpen = false;
        $('#FormSearchTable').hide();
    }

    function funcClearFilterTable() {
        setStartEndDate();
        FormAllInputsClear('#FormSearchTable [table-param]');
        ShowMessage("success", "Bilgi", "Tüm parametreler temizlendi.");
    }
    //------------------------------------- Static Area End ---------------------------------------//
</script>